GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=11Gm1Nq1M03yEVy1QpH5Tv3d79VCzhNWSrngHdscxAN8
GOOGLE_SHEET_RANGE=Sheet1!A:L
TRACKING_SHOW_PRIVATE_CONTACTS=false
